<article class="card">
  <div class="card-header">
    <div class="card-name">
      <a href="/brands/view/<%= locals.brand.id %>">
        <h2>
          <%= locals.brand.name %>
        </h2>
      </a>
    </div>
    <div class="card-buttons">
      <a href="/brands/view/<%= locals.brand.id %>" class="view button">
        View
      </a>
      <a href="/brands/edit/<%= locals.brand.id %>" class="edit button">
        Edit
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="card-field">
      <span class="field-name">
        Name
      </span>
      <span class="field-value">
        <%= locals.brand.name %>
      </span>
    </div>
    <div class="card-field">
      <span class="field-name">
        Country
      </span>
      <span class="field-value">
        <%= locals.brand.country %>
      </span>
    </div>
    <div class="card-field">
      <span class="field-name">
        Founded year
      </span>
      <span class="field-value">
        <%= locals.brand.founded_year %>
      </span>
    </div>
    <div class="card-field">
      <span class="field-name">
        Description
      </span>
      <span class="field-value">
        <%= locals.brand.description %>
      </span>
    </div>
  </div>
</article>