<fieldset>
  <legend>Specs</legend>
  <div class="form-row">
    <label for="weight-kg">Weight Kg</label>
    <input id="weight-kg" name="specs[weight-kg]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["weight_kg"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="length-mm">Length mm</label>
    <input id="length-mm" name="specs[length-mm]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["length_mm"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="width-mm">Width mm</label>
    <input id="width-mm" name="specs[width-mm]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["width_mm"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="height-mm">Height mm</label>
    <input id="height-mm" name="specs[height-mm]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["height_mm"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="fuel-capacity-l">Fuel capacity L</label>
    <input id="fuel-capacity-l" name="specs[fuel-capacity-l]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["fuel_capacity_l"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="cargo-space-l">Cargo space L</label>
    <input id="cargo-space-l" name="specs[cargo-space-l]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["cargo_space_l"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="warranty-years">Warranty Years</label>
    <input id="warranty-years" name="specs[warranty-years]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["warranty_years"] : 0) %>" required>
  </div>
  <div class="form-row">
    <label for="maintenance-interval-km">Maintenance interval Km</label>
    <input id="maintenance-interval-km" name="specs[maintenance-interval-km]" type="number" min="0" value="<%= (locals.car?.specs ? locals.car.specs["maintenance_interval_km"] : 0) %>" required>
  </div>
  <div id="features">
    <h2>Features</h2>
    <div class="features-container">
    </div>
    <button type="button" class="add-feature-btn">Add feature</button>
  </div>
  <div class="">

  </div>
  <script>
    (function(){
      const featuresContainer = document.querySelector(".features-container");
      const addFeatureBtn = document.querySelector(".add-feature-btn");
      const newFeatureTemplate = `
        <input type="text" name="specs[features]">
        <button class="delete-feature">Delete</button>
      `;

      addFeatureBtn.addEventListener("click", () => {
        const newFeature = document.createElement("div");
        newFeature.classList.add("feature-row");
        newFeature.innerHTML = newFeatureTemplate;
        featuresContainer.appendChild(newFeature);

        const deleteFeatureBtn = newFeature.querySelector(".delete-feature");
        deleteFeatureBtn.addEventListener("click", () => {
          featuresContainer.removeChild(newFeature);
        })
      })

    })()
  </script>
</fieldset>