<%- include("./partials/upper_body") %>
  <form action="/brands/new" method="post">
    <% if (locals.brand && locals.brand.id) { %>
      <input type="hidden" name="id" value="<%= locals.brand.id %>">
    <% } %>
    <div class="form-row">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" maxlength="100"
        value="<%= locals.brand ? locals.brand.name : "" %>"
      />
    </div>
    <div class="form-row">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" maxlength="40"
        value="<%= locals.brand ? locals.brand.country : "" %>"
      />
    </div>
    <div class="form-row">
      <label for="founded-year">Founded year</label>
      <input type="number" id="founded-year" name="founded-year" min="0"
        value="<%= locals.brand ? locals.brand.founded_year : "" %>"
      />
    </div>
    <div class="form-row">
      <label for="description">Description</label>
      <input type="text" id="description" name="description"
        value="<%= locals.brand ? locals.brand.description : "" %>"
      />
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
<%- include("./partials/bottom_body") %>